<p>this is the login</p>
<form id="login-form">
  <label for="username-input-login">username</label>
  <input id="username-input-login" type="text" />
  <label for="password-input-login">password</label>
  <input id="password-input-login" type="password" />
  <button id="login-button" type="submit">Login</button>
</form>
<script src="/login.js"></script>