<p>this is the signup</p>
<form id="signup-form">
  <label for="username-input-signup">username</label>
  <input id="username-input-signup" type="text" />
  <label for="password-input-signup">password</label>
  <input id="password-input-signup" type="password" />
  <button id="signup-button" type="submit">signup</button>
</form>
<script src="/signup.js"></script>